<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}">

<head>
  <title>Tạo sản phẩm mới</title>
</head>

<body class="body-createProduct">
<div layout:fragment="content">
  <article class="container-xxl mt-5">
    <div class="container-createProduct">
      <div class="content-createProduct">
        <div class="main-content-createProduct">
          <h1 class="h1-createProduct">Tạo sản phẩm mới</h1>
          <div class="form-group-createProduct">
            <div class="form-control-createProduct">
              <label>Mã sản phẩm</label>
              <input type="text" />
            </div>
            <div class="form-control-createProduct">
              <label for="myInput-nameProduct">Tên sản phẩm:</label>
              <input type="text" id="myInput-nameProduct" name="myInput-nameProduct" onfocus="showDropdown()" onkeyup="filterFunction()">
              <ul id="dataList-nameProduct" class="dropdown-content-createProduct">
                <li>Product1vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv    </li>
                <li>Product2</li>
                <li>Product3</li>
                <li>Product4</li>
                <li>Product5</li>
                <li>Product6</li>
                <li>Product7</li>
                <li>Product8</li>
              </ul>
            </div>
            <div class="form-control-createProduct">
              <label for="myInput-createProduct">Chọn danh mục:</label>
              <input list="dataList-createProduct" id="myInput-createProduct" name="myInput-createProduct">
              <datalist id="dataList-createProduct">
                <option value="Option 1">
                <option value="Option 2">
                <option value="Option 3">
              </datalist>
            </div>
          </div>
          <div class="form-group-createProduct">
            <div class="form-control-createProduct">
              <label for="myInput-createProduct">Chọn chất liệu:</label>
              <input list="dataList-createProduct" id="myInput-createProduct" name="myInput-createProduct">
              <datalist id="dataList-createProduct">
                <option value="Option 1">
                <option value="Option 2">
                <option value="Option 3">
              </datalist>
            </div>
            <div class="form-control-createProduct">
              <label for="myInput-createProduct">Chọn hãng:</label>
              <input list="dataList-createProduct" id="myInput-createProduct" name="myInput-createProduct">
              <datalist id="dataList-createProduct">
                <option value="Option 1">
                <option value="Option 2">
                <option value="Option 3">
              </datalist>
            </div>
            <div class="form-control-createProduct">
              <label for="myInput-createProduct">Chọn xuất sứ:</label>
              <input list="dataList-createProduct" id="myInput-createProduct" name="myInput-createProduct">
              <datalist id="dataList-createProduct">
                <option value="Option 1">
                <option value="Option 2">
                <option value="Option 3">
              </datalist>
            </div>
          </div>
          <div class="form-group-createProduct">
            <div class="form-control-createProduct">
              <label for="myInput-createProduct">Chọn loại đế:</label>
              <input list="dataList-createProduct" id="myInput-createProduct" name="myInput-createProduct">
              <datalist id="dataList-createProduct">
                <option style="background-color: white; color: black;" value="Option 1">
                <option value="Option 2">
                <option value="Option 3">
              </datalist>
            </div>
            <div class="form-control-createProduct">
              <label for="">Màu sắc</label>
              <div class="combobox-container-createProduct">
                <div class="combobox-toggle-createProduct" id="comboboxToggle-createProduct">Chọn màu sắc</div>
                <div class="combobox-options-createProduct" id="comboboxOptions-createProduct">
                  <label>
                    <span>Đỏ </span>
                    <input style="width: 50px;" type="checkbox" value="Đỏ" name="color">
                  </label>
                </div>
              </div>
            </div>
            <div class="form-control-createProduct">
              <label for="">Màu sắc</label>
              <div class="combobox-container-createProduct">
                <div class="combobox-toggle-createProduct" id="comboboxToggle-createProduct">Chọn màu sắc</div>
                <div class="combobox-options-createProduct" id="comboboxOptions-createProduct">
                  <label>
                    <span>Đỏ</span>
                    <input style="width: 50px;" type="checkbox" value="Đỏ" name="color">
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group-createProduct">
            <div class="form-control-createProduct description-createProduct">
              <label>Mô tả</label>
              <textarea rows="4"></textarea>
            </div>
          </div>
          <div class="upload-section-createProduct" onclick="document.getElementById('file-input-createProduct').click()">
            <div class="upload-container-createProduct">
              <div class="upload-item-createProduct" >
                <i class="fas fa-cloud-upload-alt"></i>
                <p>Nhấp để thêm ảnh</p>
                <input type="file" id="file-input-createProduct" accept="image/*" multiple style="display: none;" onchange="previewImages(event)">
              </div>
            </div>
            <div id="image-preview-createProduct" class="image-preview-createProduct"></div>
          </div>
        </div>
        <div class="main-content-createProduct" id="table-productDetail-createProduct">
          <table class="table-createProduct">
            <thead>
            <tr>
              <th style="width: 10px;">
                <input type="checkbox" id="select-all-createProduct" onclick="toggleSelectAll(this)">
              </th>
              <th style="width: 300px">Tên sản phẩm</th>
              <th style="width: 100px">Màu sắc</th>
              <th style="width: 150px">Kích cỡ</th>
              <th style="width: 200px">Giá bán</th>
              <th style="width: 200px">Giá nhập</th>
              <th style="width: 150px">Số lượng</th>
              <th style="width: 150px">Trọng lượng</th>
              <th style="width: 150px">Chiều cao</th>
              <th style="width: 150px">Chiều dài</th>
              <th style="width: 150px">Chiều rộng</th>
              <th style="width: 10px"><span class="material-symbols-outlined">delete_forever</span></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <div class="buttons-createProduct">
          <button class="create-btn-createProduct">Tạo sản phẩm mới</button>
          <button class="cancel-btn-createProduct">Hủy bỏ</button>
        </div>
      </div>
    </div>
  </article>

  <script th:src="@{/js/product/create.js}" type="text/javascript"></script>
</div>
</body>

</html>
