<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Product Management Page">
    <meta name="keywords" content="ecommerce, product management, online store">
    <title>Product Management | Male Fashion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/Product/styleProduct.css" type="text/css">
    <script src="/Product/list.js"></script>
</head>

<body>


<main class="container">
    <div layout:fragment="content">
        <article class="container-xxl bd-gutter mt-5 my-md-4 bd-layout">
            <h1 class="center"><b>Danh sách sản phẩm</b></h1>

            <div class="search-section">
                <div class="search-bar">
                    <input type="text" placeholder="Nhập từ khóa tìm kiếm">
                    <button class="btn btn-primary">Tìm kiếm</button>
                    <a href="/product/create" class="btn-add">Thêm sản phẩm</a>
                </div>
                <div class="filter-section">
                    <select>
                        <option value="">Chất liệu</option>
                        <option value="Leather">Da</option>
                        <option value="Cotton">Vải</option>
                        <option value="Wool">Nhựa</option>
                    </select>

                    <select>
                        <option value="">Hãng</option>
                        <option value="Brand X">Brand X</option>
                        <option value="Brand Y">Brand Y</option>
                        <option value="Brand Z">Brand Z</option>
                    </select>

                    <select>
                        <option value="">Xuất sứ</option>
                        <option value="Active">Việt Nam</option>
                        <option value="Inactive">Mỹ</option>
                    </select>

                    <select>
                        <option value="">Trạng thái</option>
                        <option value="Active">Đang bán</option>
                        <option value="Inactive">Ngừng bán</option>
                    </select>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                <tr >
                    <th style="background-color: lightskyblue">Mã sản phẩm</th>
                    <th style="background-color: lightskyblue">Tên sản phẩm</th>
                    <th style="background-color: lightskyblue">Chất liệu</th>
                    <th style="background-color: lightskyblue">Hãng</th>
                    <th style="background-color: lightskyblue">Xuất sứ</th>
                    <th style="background-color: lightskyblue">Mô tả</th>
                    <th style="background-color: lightskyblue">Ngày tạo</th>
                    <th style="background-color: lightskyblue">Ngày sửa</th>
                    <th style="background-color: lightskyblue">Trạng thái</th>
                    <th style="background-color: lightskyblue">Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${productList}">
                    <td>
                        <span th:text="${product.codeProduct}"></span>
                        <textarea style="display:none; width: 100%; box-sizing: border-box;">[[${product.codeProduct}]]</textarea>
                    </td>
                    <td>
                        <span th:text="${product.nameProduct}"></span>
                        <textarea style="display:none; width: 100%; box-sizing: border-box;">[[${product.nameProduct}]]</textarea>
                    </td>
                    <td>
                        <span th:text="${product.material.nameMaterial}"></span>
                        <textarea style="display:none; width: 100%; box-sizing: border-box;">[[${product.material.nameMaterial}]]</textarea>
                    </td>
                    <td>
                        <span th:text="${product.manufacturer.nameManufacturer}"></span>
                        <textarea style="display:none; width: 100%; box-sizing: border-box;">[[${product.manufacturer.nameManufacturer}]]</textarea>
                    </td>
                    <td>
                        <span th:text="${product.origin.nameOrigin}"></span>
                        <textarea style="display:none; width: 100%; box-sizing: border-box;">[[${product.origin.nameOrigin}]]</textarea>
                    </td>
                    <td>
                        <span th:text="${product.describe}"></span>
                        <textarea style="display:none; width: 100%; box-sizing: border-box;">[[${product.describe}]]</textarea>
                    </td>
                    <td th:text="${product.createDate}"></td>
                    <td th:text="${product.updateDate}"></td>
                    <td>
                        <span th:if="${product.status == 0}">
                            <i style="color: #006aff" class="fa-light fas fa-toggle-off"></i> <!-- Icon toggle off -->
                        </span>
                        <span th:if="${product.status == 1}">
                            <i style="color: #006aff" class="fas fa-toggle-on"></i> <!-- Icon toggle on -->
                        </span>
                        <textarea style="display:none; width: 100%; box-sizing: border-box;">[[${product.status}]]</textarea>
                    </td>

                    <td>
                        <a href="#" class="edit-icon" onclick="enableEditing(this); return false;"><i class="fas fa-edit" title="Edit"></i></a>
                        <a href="#" class="save-icon" style="display:none;" onclick="saveChanges(this); return false;"><i class="fas fa-save" title="Save"></i></a>
                        <a href="vf"><i class="icon-detail fas fa-bars"></i></a>
                        <a th:href="@{/product/delete/{id}(id=${product.id})}" onclick="return confirm('Are you sure you want to delete this product?')"><i class="icon-delete fas fa-trash" title="Delete"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>

        </article>
    </div>
</main>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

