<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}">
<head>
    <title>
        Danh sách sản phẩm
    </title>
</head>

<body>
<div layout:fragment="content">
    <article class="container-xxl mt-5">
        <div class="container-product">
            <div class="header-product">
                Danh sách sản phẩm
            </div>

            <div class="search-bar-product">
                <select class="search-select-product" onchange="fetchProductsByCategoryAndSearch(this.value, document.querySelector('.search-input-product').value)">
                    <option value="0">Chọn danh mục</option>
                    <th:block th:each="category : ${categoryList}">
                        <option th:value="${category.id}" th:text="${category.nameCategory}"></option>
                    </th:block>
                </select>
                <input type="text" class="search-input-product" placeholder="Tìm kiếm">

                <div class="icon-group-product">
                    <i class="fa fa-list icon-product fa-list-product" aria-hidden="true"
                       onclick="showListViewProduct()"></i>
                    <i class="fa fa-th icon-product fa-th-product" aria-hidden="true"
                       onclick="showGridViewProduct()"></i>
                </div>
            </div>
            <div class="update-product">
                <button id="btn-save-product" class="btn-save-product" style="display: none" onclick="saveChanges()">Lưu lại</button>
                <button id="btn-cancel-product" class="btn-cancel-product " style="display: none" onclick="cancelChanges()">Hủy bỏ</button>
            </div>

            <div class="form-group-product" style="display: none">
                <div th:each="product : ${productList}" id="form-control-product" class="form-control-product">
                    <p th:text="${product.nameProduct}"></p>
                    <div class="image-slider">
                        <div class="slides">
                            <div class="slide" th:each="image : ${product.images}">
                                <img th:src="'https://res.cloudinary.com/dfy4umpja/image/upload/v1728725582/' + ${image.nameImage}" alt="Ảnh sản phẩm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table-product">
                <thead>
                <tr>
                    <th style="width: 30px;">
                        <input type="checkbox" id="select-all-product" onclick="toggleSelectAllProduct(this)">
                    </th>
                    <th style="width: 70px">Mã</th>
                    <th style="width: 150px">Tên</th>
                    <th style="width: 150px">Chất liệu</th>
                    <th style="width: 150px">Hãng</th>
                    <th style="width: 130px">Xuất xứ</th>
                    <th style="width: 150px">Loại đế</th>
                    <th style="width: 200px">Mô tả</th>
                    <th style="width: 100px">Trạng thái</th>
                    <th style="width: 30px"></th>
                </tr>
                </thead>
                <tbody id="product-table-body">
                <tr th:each="product, iterStat : ${productList}" th:id="'row-product-' + ${iterStat.index}" th:data-id="${product.id}">
                    <td>
                        <input type="checkbox" class="select-row-product"/>
                    </td>
                    <td data-column="codeProduct" th:text="${product.codeProduct}"></td>
                    <td data-column="nameProduct">
                        <div class="product-image-container">
                            <div class="image-slider">
                                <div class="slides">
                                    <div class="slide" th:each="image : ${product.images}">
                                        <img th:src="'https://res.cloudinary.com/dfy4umpja/image/upload/v1728725582/' + ${image.nameImage}" alt="Ảnh sản phẩm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:text="${product.nameProduct}"></div>
                    </td>
                    <td data-column="material" th:text="${product.material.nameMaterial}"></td>
                    <td data-column="manufacturer" th:text="${product.manufacturer.nameManufacturer}"></td>
                    <td data-column="origin" th:text="${product.origin.nameOrigin}"></td>
                    <td data-column="sole" th:text="${product.sole.nameSole}"></td>
                    <td data-column="describe" th:text="${product.describe}"></td>
                    <td data-column="status" th:text="${product.status == 1 ? 'Đang bán' : (product.status == 2 ? 'Ngừng bán' : '')}"></td>
                    <td>
                        <div class="dropdown-product">
                            <i class="fa fa-ellipsis-v fa-ellipsis-v-product" aria-hidden="true" onclick="toggleDropdownProduct(event, this)"></i>
                            <div class="dropdown-menu-product">
                                <a href="#">Xem chi tiết</a>
                                <a href="#">Chỉnh sửa</a>
                                <a href="#">Xóa</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div id="pagination-controls" class="pageable-product">
                <ul id="pagination-product" class="pagination-product"></ul>
            </div>

            <a class="add-button-product" style="text-decoration: none;" href="/staff/product/create"><i
                    class="fas fa-plus"></i> Thêm sản phẩm</a>
        </div>

    </article>
    <script th:src="@{/js/product/productv2.js}" type="text/javascript"></script>
</div>
</body>

</html>
