<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>
        Danh sách sản phẩm
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="/css/product/productv2.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="header">
        Danh sách sản phẩm
    </div>

    <div class="search-bar">
        <select class="search-select">
            <option value="category1">Category 1</option>
            <option value="category2">Category 2</option>
            <option value="category3">Category 3</option>
        </select>
        <input type="text" class="search-input" placeholder="Tìm kiếm">
        <div class="icon-group" >
            <i class="fa fa-list icon" aria-hidden="true"  onclick="showListView()"></i>
            <i class="fa fa-th icon" aria-hidden="true" onclick="showGridView()"></i>
        </div>
    </div>
    <div  class="form-group" style="display: none">
        <div th:each="image : ${imageList}" class="form-control">
            <img th:src="'https://res.cloudinary.com/dfy4umpja/image/upload/v1728725582/' + ${image.image}" alt="Ảnh 1">
            <p th:text="${image.nameProduct}"></p>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th style="width: 30px;">
                <input type="checkbox" id="select-all" onclick="toggleSelectAll(this)">
            </th>
            <th style="width: 50px">Mã</th>
            <th style="width: 150px">Tên</th>
            <th style="width: 150px">Chất liệu</th>
            <th style="width: 150px">Hãng</th>
            <th style="width: 150px">Xuất xứ</th>
            <th style="width: 150px">Loại đế</th>
            <th style="width: 300px">Mô tả</th>
            <th style="width: 100px">Trạng thái</th>
            <th style="width: 30px"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, iterStat : ${productList}" th:id="'row-' + ${iterStat.index}" th:data-id="${product.id}">
            <td>
                <input type="checkbox" class="select-row" />
            </td>
            <td th:text="${product.codeProduct}"></td>
            <td>
                <img alt="Lỗi hiển thị" />
                <div th:text="${product.nameProduct}"></div>
            </td>
            <td th:text="${product.material.nameMaterial}"></td>
            <td th:text="${product.manufacturer.nameManufacturer}"></td>
            <td th:text="${product.origin.nameOrigin}"></td>
            <td th:text="${product.sole.nameSole}"></td>
            <td th:text="${product.describe}"></td>
            <td th:text="${product.status == 1 ? 'Đang bán' : (product.status == 2 ? 'Ngừng bán' : '')}"></td>
            <td>
                <div class="dropdown">
                    <i class="fa fa-ellipsis-v" aria-hidden="true" onclick="toggleDropdown(event, this)"></i>
                    <!-- Menu hiện ra khi bấm vào icon -->
                    <div class="dropdown-menu">
                        <a href="#">Tùy chọn 1</a>
                        <a href="#">Tùy chọn 2</a>
                        <a href="#">Tùy chọn 3</a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="add-button"><a style="text-decoration: none;" href="/staff/product/create"> + Thêm sản phẩm </a></div>
</div>
<script src="/js/product/productv2.js"></script>
</body>
</html>
