<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/staff/list.css" type="text/css">
    <title>Nhan vien</title>
</head>

<body>

<main class="container">
    <div layout:fragment="content">
        <article class="container-xxl bd-gutter mt-5 my-md-4 bd-layout">
            <h1 class="center">Danh sách nhân viên</h1>

            <div class="button">
                <a href="/staff/create" class="btn btn-primary">Thêm mới nhân viên</a>
                <button type="button" class="btn btn-success">Thêm chức vụ</button>
            </div>

            <form action="/staff/search">
            <div class="search-container">
                <div class="search-bar">
                    <span class="icon"><i class="fas fa-search"></i></span> <!-- Sử dụng icon kính lúp -->
                    <input type="text" name="key" placeholder="Tìm kiếm...">
                </div>
                    <button class="btn btn-primary">Tìm kiếm</button>
            </div>
            </form>

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
<!--                    <th>Ảnh</th>-->
                    <th>Mã nhân viên</th>
                    <th>Tên nhân viên</th>
                    <th>Dia chi</th>
<!--                    <th>Giới tính</th>-->
<!--                    <th>Ngày sinh</th>-->
<!--                    <th>Số điện thoại</th>-->
<!--                    <th>Email</th>-->
<!--                    <th>Chức vụ</th>-->
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="staff, index: ${pageStaff}">
<!--                    <td th:text="${staff.nameImage}"></td>-->
                    <td th:text="${staff.codeStaff}"></td>
                    <td th:text="${staff.fullName}"></td>
                    <td th:text="${staff.address}"></td>
<!--                    <td th:text="${staff.gender}"></td>-->
<!--                    <td th:text="${staff.birthDay}"></td>-->
<!--                    <td th:text="${staff.numberPhone}"></td>-->
<!--                    <td th:text="${staff.email}"></td>-->
<!--                    <td th:text="${staff.role.nameRole}"></td>-->
                    <td th:text="${staff.status}"></td>
                    <td>
                        <a th:href="@{/staff/edit/{id}(id=${staff.id})}" class="edit-icon" onclick="enableEditing(this); return false;"><i class="fas fa-edit" title="Edit"></i></a>
                        <a href="#" class="save-icon" style="display:none;" onclick="saveChanges(this); return false;"><i class="fas fa-save" title="Save"></i></a>
                        <a th:href="@{/staff/detail/{id}(id=${staff.id})}"><i class="icon-detail fas fa-bars"></i></a>
                        <a th:href="@{/staff/delete/{id}(id=${staff.id})}" onclick="return confirm('Bạn có chắc chắn muốn xóa nhân viên?')"><i class="icon-delete fas fa-trash" title="Delete"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="text-center m-3">
                <div class="d-flex justify-content-center">
                    <a th:href="@{/staff/list?pageNumber=0}"
                       class="btn btn-secondary mx-1">First</a>
                    <a th:href="@{/staff/list(pageNumber=${pageStaff.first ? 0 : pageStaff.number - 1})}"
                       class="btn btn-secondary mx-1">Previous</a>
                    <div th:if="${pageStaff.totalPages > 0}" class="d-flex">
                        <div th:each="pageNumber : ${#numbers.sequence(0, pageStaff.totalPages - 1)}"
                             class="mx-1">
                            <a th:href="@{/staff/list(pageNumber=${pageNumber})}"
                               class="btn btn-primary"
                               th:text="${pageNumber + 1}"></a>
                        </div>
                    </div>
                    <a th:href="@{/staff/list(pageNumber=${pageStaff.last ? pageStaff.totalPages - 1 : pageStaff.number + 1})}"
                       class="btn btn-secondary mx-1">Next</a>
                    <a th:href="@{/staff/list(pageNumber=${pageStaff.totalPages - 1})}"
                       class="btn btn-secondary mx-1">Last</a>
                </div>
            </div>
        </article>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>