<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap demo</title>
</head>
<body>
<section>
    <div class="container p-5">
        <p class="text-center fs-3 mt-4">Admin Dashboard</p>
        <div class="row p-5">
            <div class="col-4">
                <a href="/admin/add_product" class="text-decoration-none">
                    <div class="card card-sh" style="box-shadow: 0px 0px 10px #919090">
                        <div class="card-body text-center text-primary">
                            <i class="bi bi-plus-square-fill fs-2 text-success"></i>
                            <h4>Create Product</h4>
                            <p>..............</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--            -->
            <div class="col-4">
                <a href="#" class="text-decoration-none">
                    <div class="card card-sh" style="box-shadow: 0px 0px 10px #919090">
                        <div class="card-body text-center">
                            <i class="bi bi-list-ol fs-2"></i>
                            <h4>Category</h4>
                            <p>..............</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--            -->
            <div class="col-4">
                <a href="#" class="text-decoration-none">
                    <div class="card card-sh" style="box-shadow: 0px 0px 10px #919090">
                        <div class="card-body text-center text-primary">
                            <i class="bi bi-book fs-2 text-danger"></i>
                            <h4>View Product</h4>
                            <p>..............</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--            -->
            <div class="col-4 mt-3">
                <a href="#" class="text-decoration-none">
                    <div class="card card-sh" style="box-shadow: 0px 0px 10px #919090">
                        <div class="card-body text-center text-primary">
                            <i class="bi bi-box-fill fs-2 text-warning"></i>
                            <h4>Orders</h4>
                            <p>..............</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--            -->
            <div class="col-4 mt-3">
                <a href="#" class="text-decoration-none">
                    <div class="card card-sh" style="box-shadow: 0px 0px 10px #919090">
                        <div class="card-body text-center text-primary">
                            <i class="bi bi-person-circle fs-2"></i>
                            <h4>User</h4>
                            <p>..............</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--            -->
            <div class="col-4 mt-3">
                <a href="#" class="text-decoration-none">
                    <div class="card card-sh" style="box-shadow: 0px 0px 10px #919090">
                        <div class="card-body text-center text-primary">
                            <i class="bi bi-person-fill-add fs-2 text-success"></i>
                            <h4>Create Admin</h4>
                            <p>..............</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>
</body>
</html>
