<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/Chart/chart.css">
  <title>Thống kê</title>
</head>

<body>

<main class="container">
  <div layout:fragment="content">
    <h2 class="text-center custom-heading">THỐNG KÊ</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="rectangle">
          <h6>Doanh số hôm nay</h6>
          <p class="data-from-be" ></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rectangle">
          <h6>Doanh số tháng này</h6>
          <p class="data-from-be"><span th:text="${paidBillCount}"></span> đơn hàng</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rectangle">
          <h6>Hàng bán được tháng này</h6>
          <p class="data-from-be" ></p>
        </div>
      </div>
    </div>

    <div class="filter-section">
      <form action="#" method="GET" class="custom-form-inline">
        <!-- Bộ lọc khoảng thời gian -->
        <div class="button-group" role="group" aria-label="Thời gian lọc">
          <button type="button" class="custom-btn" onclick="filterData('today')">Hôm nay</button>
          <button type="button" class="custom-btn" onclick="filterData('last7days')">7 Ngày</button>
          <button type="button" class="custom-btn" onclick="filterData('month')">Tháng</button>
          <button type="button" class="custom-btn" onclick="filterData('year')">Năm</button>
        </div>
      </form>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
      </div>
    </div>
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>