<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/base}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Giỏ Hàng</title>
    <link rel="stylesheet" href="path/to/your/styles.css"> <!-- Đảm bảo bạn có file CSS -->
</head>
<body>
<div layout:fragment="content">
    <section style="width: 80%;margin-left: 10%">
        <div class="d-flex" style="width: 100%; height: 230px; background-color: #ffffff; margin-left: 30px">
            <div class="w-50 p-3">
                <p class="text-dark fs-5 fw-lighter" style="margin-top: 100px;">ONE POLY - NHỊP BƯỚC BẢN THÂN</p>
                <p class="text-dark fw-lighter">Chuẩn phong cách, thanh lịch trong từng bước chân! Trải nghiệm những
                    thiết kế tuyệt vời với giày thể thao trong bộ sưu tập ONE POLY "Nhịp bước bản thân".</p>
            </div>
        </div>

        <section class="cart-page">
            <div class="container">
                <div style="margin-left: 30px;">
                    <p>Hiện tại có 3 sản phẩm trong giỏ hàng</p>
                    <hr style="width: 60%;">
                </div>
                <div class="cart-container d-flex" style="gap: 10px;">
                    <!-- Phần thông tin vận chuyển -->
                    <div class="info-pay" style="flex: 0 0 50%;">
                        <div th:if="${clientLogin == null}">
                            <div class="info-transport" id="info-input">
                                <div class="row g-3 mt-3">
                                    <!-- Header for customer information section -->
                                    <div class="infor-enter-customer">
                                        <h5 style="color: #727272" class="section-header">Thông tin khách hàng</h5>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" id="FullName" placeholder="Họ tên"
                                                   required>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="email" class="form-control" id="Mail" placeholder="Mail"
                                                   required>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="Phone" placeholder="SĐT"
                                                   required>
                                        </div>
                                        <div class="col-md-12">
                                            <textarea type="text" class="form-control" name="noteBill" id="noteBill"
                                                      placeholder="Ghi chú cho cửa hàng" required></textarea>
                                        </div>
                                    </div>

                                    <!-- Header for shipping information section -->
                                    <div class="info-shipping">
                                        <h5 style="color: #727272" class="section-header">Thông tin giao hàng</h5>
                                        <div class="col-md-12">
                                            <textarea type="text" class="form-control" id="addressShow"
                                                      placeholder="Địa chỉ nhận hàng" required></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <textarea type="text" class="form-control" name="addressShip"
                                                      id="addressShip" placeholder="Địa chỉ lấy" required></textarea>
                                        </div>
                                        <div class="col-4">
                                            <select id="province" class="form-select" required>
                                                <option value="">Chọn Tỉnh</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <select id="district" class="form-select" required>
                                                <option value="">Chọn Huyện</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <select id="ward" class="form-select" required>
                                                <option value="">Chọn Xã, Phường</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="section-payment-method" class="section-loaded"
                             style="padding: 10px;border: 1px solid #cecece;border-radius: 5px">
                            <div class="section-content">
                                <div class="content-box">
                                    <div class="section-header">
                                        <h5 style="color: #727272" class="section-title">Phương thức thanh toán</h5>
                                    </div>
                                    <div class="radio-wrapper content-box-row">
                                        <label class="radio-label" for="payment_method_code">
                                            <div class="radio-input payment-method-checkbox">
                                                <input type="radio" class="value-payment-method"
                                                       id="payment_method_code"
                                                       name="payment_method_id" value="1" checked>
                                            </div>
                                            <div class="radio-content-input">
                                                <img class="main-img"
                                                     src="https://hstatic.net/0/0/global/design/seller/image/payment/cod.svg?v=6"
                                                     alt="COD Payment Method">
                                                <span class="radio-label-primary">Thanh toán khi giao hàng (COD)</span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="radio-wrapper content-box-row">
                                        <label class="radio-label" for="payment_method_vnpay">
                                            <div class="radio-input payment-method-checkbox">
                                                <input type="radio" id="payment_method_vnpay"
                                                       class="value-payment-method"
                                                       name="payment_method_id" value="2">
                                            </div>
                                            <div class="radio-content-input">
                                                <img class="main-img"
                                                     src="data:image/png;base64,..."
                                                     alt="VNPAY Payment Method">
                                                <span class="radio-label-primary">VNPAY</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${clientLogin !=null}" class="info-address">
                            <div class="section-header">
                                <h5 style="color: #727272" class="section-title">Địa chỉ nhận hàng</h5>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <p id="infoCustomer" th:text="${infoCustomer}+'.'"></p>
                                    <p id="original-address" th:text="${originalAddress}+'.'"></p>
                                </div>
                                <div class="col-4">
                                    <div class="button-container">
                                        <button class="btn-change-address" data-bs-toggle="modal"
                                                data-bs-target="#changeAddressModal">
                                            <span class="text">Thay đổi</span>
                                            <span class="icon"><i class="fas fa-sync-alt"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="modal-change-address" class="modal-address">
                        <div class="modal fade" id="changeAddressModal" tabindex="-1"
                             aria-labelledby="changeAddressModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #ffffff">
                                        <h5 style="color: black" class="modal-title" id="changeAddressModalLabel">
                                            <i class="bi bi-geo-alt-fill"
                                               style="color: #2f2d2d; margin-right: 10px;"></i>
                                            Thay đổi địa chỉ
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>

                                    <!-- Modal Body -->
                                    <div class="modal-body">
                                        <!-- Danh sách địa chỉ -->
                                        <div class="list-address-customer" th:each="address : ${listAddress}">
                                            <div class="info-address-shipping d-flex align-items-center">
                                                <input class="form-check-input" type="radio" name="selectedAddress"/>
                                                <input type="hidden" class="id-address" th:value="${address.id}"/>
                                                <p class="short-address" th:text="${address.shortAddress}"></p>
                                                <input type="hidden" class="original-address"
                                                       th:value="${address.originalAddress}"/>

                                                <div class="button-container">
                                                    <button class="btn-update-address" type="button"
                                                            data-bs-toggle="modal" data-bs-target="#updateAddressModal"
                                                            onclick="getAddressDetails(this)">
                                                        <span class="text">Thay đổi</span>
                                                        <span class="icon"><i class="fas fa-sync-alt"></i></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Nút Thêm Địa Chỉ Mới -->
                                        <div class="add-new-address mt-4 text-center">
                                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                                    data-bs-target="#addNewAddressModal">
                                                <i class="bi bi-plus-circle" style="margin-right: 5px;"></i>Thêm địa chỉ
                                                mới
                                            </button>
                                        </div>
                                    </div>


                                    <!-- Modal Footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            <i class="bi bi-x-circle" style="margin-right: 5px;"></i>Đóng
                                        </button>
                                        <button type="button" class="change-address btn btn-primary"
                                                data-bs-dismiss="modal">
                                            <i class="bi bi-check-circle" style="margin-right: 5px;"></i>Lưu thay đổi
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal update -->
                    <div class="modal fade" id="updateAddressModal" tabindex="-1"
                         aria-labelledby="updateAddressModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateAddressModalLabel">Cập nhật địa chỉ</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="updateAddressForm">
                                        <div class="form-group">
                                            <label for="FullNameUpdate">Họ và tên</label>
                                            <input type="text" class="form-control" id="FullNameUpdate"
                                                   name="FullNameUpdate">
                                        </div>
                                        <div class="form-group">
                                            <label for="PhoneUpdate">Số điện thoại</label>
                                            <input type="text" class="form-control" id="PhoneUpdate" name="PhoneUpdate">
                                        </div>
                                        <div class="form-group">
                                            <label for="MailUpdate">Email</label>
                                            <input type="email" class="form-control" id="MailUpdate" name="MailUpdate">
                                        </div>
                                        <!-- Các trường khác cho địa chỉ -->
                                        <div class="form-group">
                                            <label for="specificAddressUpdate">Địa chỉ cụ thể</label>
                                            <input type="text" class="form-control" id="specificAddressUpdate"
                                                   name="specificAddressUpdate">
                                        </div>
                                        <div class="form-group">
                                            <label for="province-update">Tỉnh/Thành phố</label>
                                            <select class="form-control" id="province-update" name="province-update">
                                                <!-- Các option tỉnh thành sẽ được load ở đây -->
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="district-update">Quận/Huyện</label>
                                            <select class="form-control" id="district-update" name="district-update">
                                                <!-- Các option quận huyện sẽ được load ở đây -->
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="ward-update">Phường/Xã</label>
                                            <select class="form-control" id="ward-update" name="ward-update">
                                                <!-- Các option phường xã sẽ được load ở đây -->
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                                    </button>
                                    <button type="button" class="btn btn-primary" onclick="updateAddress()">Cập nhật
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--                    Thêm địa chỉ mới-->
                    <div id="addNewAddressModal" class="modal fade" tabindex="-1" aria-labelledby="addNewAddressLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addNewAddressLabel">
                                        <i class="bi bi-plus-circle" style="margin-right: 10px;"></i>Thêm địa chỉ mới
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="FullNameCreate" placeholder="Họ tên"
                                           required>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="PhoneCreate" placeholder="SĐT"
                                           required>
                                </div>
                                <div class="col-md-12">
                                    <input type="email" class="form-control" id="MailCreate" placeholder="Mail"
                                           required>
                                </div>

                                <!-- Modal Body -->
                                <div class="modal-body">
                                    <form id="addAddressForm">
                                        <!-- Địa chỉ cụ thể -->
                                        <div class="mb-3">
                                            <label for="specificAddress" id="" class="form-label">Địa chỉ cụ
                                                thể:</label>
                                            <textarea class="form-control" id="specificAddress"
                                                      name="specificAddress" required>
                                            </textarea>
                                        </div>

                                        <!-- Tỉnh/Thành phố -->
                                        <div class="mb-3">
                                            <div class="col-12">
                                                <select id="province-create" class="form-select" required>
                                                    <option value="">Chọn Tỉnh</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="col-12">
                                                <select id="district-create" class="form-select" required>
                                                    <option value="">Chọn Huyện</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="col-12">
                                                <select id="ward-create" class="form-select" required>
                                                    <option value="">Chọn Xã, Phường</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <!-- Modal Footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        <i class="bi bi-x-circle" style="margin-right: 5px;"></i>Hủy
                                    </button>
                                    <button type="button" class="btn btn-primary" id="saveNewAddress"
                                            onclick="createNewAddress()">
                                        <i class="bi bi-check-circle" style="margin-right: 5px;"></i>Lưu địa chỉ
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Phần danh sách giỏ hàng -->
                    <div class="cart-list" style="flex: 0 0 50%;">
                        <div th:each="item : ${cartItems}" class="position-relative" id="cart-list">
                            <div class="item line-item line-item-container d-flex" data-line="1">
                                <div class="left">
                                    <div class="item-img">
                                        <img src="/img/client/product/SPCT_IMG_1.png" alt=""
                                             style="width: 150px; height: auto;">
                                    </div>
                                </div>
                                <div class="right" style="margin-left: 50px;">
                                    <div class="item-info">
                                        <h3 th:text="${item.productName}"></h3>
                                        <div class="item-price">
                                            <span id="spanPriceCartItem" th:text="${item.discountedPrice}"
                                                  class="price-item"></span>
                                        </div>
                                        <div class="item-desc">
                                            <div class="variant-option">
                                                <span class="title">Màu sắc:</span>
                                                <span class="text"
                                                      th:text="${item.colorName}"></span>
                                            </div>
                                            <div class="variant-option">
                                                <span class="title">Kích thước:</span>
                                                <span class="text" th:text="${item.sizeName}"></span>
                                            </div>
                                        </div>
                                        <div class="button-group">
                                            <div class="item-quan">
                                                <span class="txt_qty d-none">1</span>
                                                <div class="qty quantity-parent qty-click d-flex align-items-center btn-group">
                                                    <button type="button"
                                                            class="qtyminus qty-btn btn btn-outline-secondary">&minus;
                                                    </button>
                                                    <p class="tc line-item-qty item-quantity text-center form-control m-0 bg-light"
                                                       style="width: 60px; border: none;"
                                                       th:text="${item.quantity}"></p>
                                                    <button type="button"
                                                            class="qtyplus qty-btn btn btn-outline-primary">&plus;
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn-close position-absolute end-0 top-0 mt-2 me-3"
                                        aria-label="Close"></button>
                            </div>
                            <hr>
                        </div>
                        <div><label>Weight</label>
                            <input type="hidden" id="weightShip" th:value="${weight}"/>
                            <input type="hidden" id="addressCustomerLogin" th:value="${addressCustomerLogin}"/>
                            <input type="hidden" id="IdWard" th:value="${IdWard}"/>
                            <input type="hidden" id="IdDistrict" th:value="${IdDistrict}"/>
                            <input type="hidden" id="IdProvince" th:value="${IdProvince}"/>
                        </div>
                        <div class="summary">
                            <div class="row">
                                <div class="col-6 d-mb">
                                    <div class="d-flex flex-row justify-content-between m-2">
                                        <span>Tổng tiền hàng</span>
                                        <span id="spanTotalPriceCartItem" th:text="${totalPrice}">Tổng giá tiền</span>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between m-2">
                                        <span>Giảm giá voucher</span>
                                        <span id="spanPriceVoucher" th:text="${priceReducedShow}+'đ'">đ</span>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between m-2">
                                        <span>Phí vận chuyển</span>
                                        <span id="spanShippingFee" name="shippingPrice">00 đ</span>

                                    </div>
                                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom"></div>
                                    <div class="d-flex flex-row justify-content-between m-2">
                                        <span style="color:#ee4d2d">TỔNG</span>
                                        <span id="spanTotalPriceBill" name="spanTotalPriceBill"
                                              style="color:#ee4d2d"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-end mt-3">
                            <button id="btnDatHang" onclick="payBill()"
                                    class="shopee-button-solid shopee-button-solid--primary">
                                <span class="cart-final--bottom-checkout--btn btnDatHang">Đặt hàng</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.3.1/decimal.min.js"></script>
        <script th:src="@{/ajax/client/bill.js}" type="text/javascript"></script>
        <script th:src="@{/js/client/bill_payment.js}" type="text/javascript"></script>
        <script th:src="@{/js/client/ship_login.js}" type="text/javascript"></script>
    </section>

</div>
</body>
</html>
