<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/base}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products</title>
</head>
<body>
<div layout:fragment="content">
    <section>
        <div class="cart-container" style="width: 100%; display: flex; gap: 20px; margin-top: 100px">
            <!-- Phần danh sách sản phẩm -->
            <div style="width: 55%; margin-left: 30px;">
                <p>Hiện tại có 3 sản phẩm trong giỏ hàng</p>
                <hr style="width: 100%;">
                <div th:each="item : ${cartItems}" class="cart-list cart-position-relative" id="cart-list"
                     style="margin-left: 30px;">
                    <div class="cart-item cart-line-item cart-line-item-container" data-line="1"
                         style="display: flex; flex-direction: row; margin-bottom: 20px;">
                        <div class="cart-left">
                            <div class="cart-item-img">
                                <img src="/img/client/product/SPCT_IMG_1.png" alt=""
                                     style="width: 150px; height: auto;">
                            </div>
                        </div>
                        <div class="cart-right" style="margin-left: 50px;">
                            <input type="hidden" id="idProductDetailFromCart" th:value="${item.productDetailId}">
                            <div class="cart-item-info">
                                <h3 th:text="${item.productName}"></h3>
                                <div class="d-flex">
                                    <div class="cart-item-price" style="margin-right: 30px">
                                        <span id="cart-spanPriceCartItem" th:text="${item.discountedPrice}"
                                              class="cart-price-item"></span>
                                    </div>
                                    <div class="cart-item-price-original">
                                        <span id="cart-spanPriceCartItemOriginal" th:text="${item.originalPrice}"
                                              class="cart-price-item original-price"></span>
                                    </div>
                                </div>

                                <div class="cart-item-desc">
                                    <div class="cart-variant-option">
                                        <span class="cart-title">Màu sắc:</span>
                                        <span class="cart-text" th:text="${item.colorName}"></span>
                                    </div>
                                    <div class="cart-variant-option">
                                        <span class="cart-title">Kích thước:</span>
                                        <span class="cart-text" th:text="${item.sizeName}"></span>
                                    </div>
                                </div>
                                <div class="cart-button-group">
                                    <div class="cart-item-quan">
                                        <div class="cart-qty cart-quantity-parent cart-qty-click d-flex align-items-center btn-group">
                                            <button type="button"
                                                    class="cart-qtyminus cart-qty-btn btn btn-outline-secondary"
                                                    th:field="${item.productDetailId}">−
                                            </button>
                                            <p id="quantityProductFormCart" name="quantity"
                                               class="cart-tc cart-line-item-qty cart-item-quantity text-center form-control m-0 bg-light"
                                               style="width: 60px; border: none;" th:text="${item.quantity}"></p>
                                            <button type="button"
                                                    class="cart-qtyplus cart-qty-btn btn btn-outline-primary"
                                                    th:field="${item.productDetailId}">+
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button"
                                class="cart-btn-close cart-position-absolute cart-end-0 cart-top-0 mt-2 me-3"
                                th:field="${item.productDetailId}"
                                aria-label="Close" onclick="removeProductDetailFromCart(this)">
                            &times;
                        </button>
                    </div>
                    <hr>
                </div>
            </div>

            <!-- Phần danh sách Voucher -->
            <div class="cart-voucher-voucher">
                <!-- Ảnh (ban đầu hiển thị) -->
                <img id="voucher-button-img" src="/img/client/category/banner_voucher.png" alt="Voucher Image"
                     style="width: 100%; height: 300px; display: inline-block; margin-bottom: 10px;">

                <!-- Nút hiển thị danh sách voucher -->
                <button class="btn-toggle-voucher" onclick="toggleVoucherList()">
                    <span id="voucher-button-text">Áp dụng voucher</span>
                </button>

                <!-- Danh sách voucher (ban đầu ẩn) -->
                <div id="voucher-list" style="display: none;">
                    <h3 class="voucher-title-voucher">Những voucher bạn có thể áp dụng</h3>
                    <ul class="voucher-list-voucher">
                        <li  th:each="voucher : ${applicableVouchers}">
                            <div class="cart-voucher-item">
                                <img src="/img/client/category/voucher.png" alt=""
                                     style="width: 60px; height: 50px; object-fit: cover; border-radius: 5px;">
                                <div>
                                    <br>
                                    <span class="voucher-id" th:text="${voucher.id}" style="display: none;"></span>
                                    <br>
                                    <span id="voucher-type" class="voucher-type" th:text="${voucher.discountType}"
                                          style="display: none;"></span>
                                    <br>
                                    <span class="voucher-code" th:text="${voucher.codeVoucher}"></span>
                                    <br>
                                    <span class="voucher-name-voucher"
                                          th:text="${voucher.nameVoucher}">Voucher Name</span>
                                    <br>
                                    <span id="price-reduced-voucher" class="voucher-discount-voucher"
                                          th:text="${voucher.priceReduced}">Discount Value</span>
                                    <br>
                                    <span class="voucher-desc-voucher" th:text="${voucher.describe}">Description</span>
                                </div>
                                <input type="radio" class="cart-voucher-radio" name="radioVoucher">
                            </div>
                            <hr>
                        </li>
                    </ul>
                    <button class="btn-apply-voucher" onclick="applyVoucher()">Áp dụng</button>
                </div>
            </div>
        </div>

        <div class="voucher-summary">
            <div class="voucher-summary-item mb-3">
                <label>Tổng tiền: </label>
                <span id="totalPriceCartItem" th:text="${totalPrice}">Tổng tiền</span>
            </div>
            <div class="voucher-summary-item mb-3">
                <label>Giảm được: </label>
                <span id="priceVoucherReduced" th:text="${priceReducedShow}">0 đ</span>
            </div>
            <div class="voucher-summary-item mb-3">
                <label>Giá cuối cùng: </label>
                <span id="price-Calculator" th:text="${finalPrice}">0 ₫</span>
            </div>
        </div>

        <!-- Tổng giá và các nút hành động -->
        <div class="cart-actions__checkout cart-mt-4 cart-d-flex cart-justify-content-between cart-align-items-center">
            <div class="cart-actions__total cart-summary-total">
                        <span class="cart-title"><strong>TỔNG TIỀN</strong>
                            <span class="cart-total-quantity">(tạm tính)</span><br>
                            <span style="font-size: 30px" id="cart-spanTotalPriceCart"
                                  class="cart-js-total-price cart-total-price" th:text="${finalPrice}">₫</span>

                        </span>
            </div>
            <div class="cart-actions__btn">
                <button type="button" id="cart-continue-shopping" class="cart-btn-continue cart-u-btn">
                    <a href="">
                        <span>TIẾP TỤC MUA SẮM</span>
                    </a>
                </button>
                <button type="button" id="cart-checkout" class="cart-btn-checkout cart-u-btn cart-u-btn--primary"
                        name="checkout"
                        value="">
                    <a href="/onepoly/payment"> THANH TOÁN</a>
                </button>
            </div>
        </div>
        <!-- Các script của bạn -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.3.1/decimal.min.js"></script>
        <script th:src="@{/js/client/cart.js}" type="text/javascript"></script>
        <script th:src="@{/ajax/client/cart.js}" type="text/javascript"></script>
    </section>
</div>
</body>
</html>
