<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer/base}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
</head>
<body>
<div layout:fragment="content">
    <section>
        <div class="d-flex" style="width: 100%; height: 270px; background-color: #ffffff;">
            <div class="w-50 p-3">
                <p class="text-dark fs-5 fw-lighter" style="margin-top: 100px;">ONE POLY - NHỊP BƯỚC BẢN THÂN</p>
                <p class="text-dark fw-lighter">Chuẩn phong cách, thanh lịch trong từng bước chân! Trải nghiệm những thiết kế tuyệt vời với giày thể thao trong bộ sưu tập ONE POLY "Nhịp bước bản thân".</p>
            </div>
            <div class="w-50 d-flex justify-content-end p-3">
                <img src="/img/1.jpg" style="width:250px; height: 240px; margin-top: 30px" alt="...">
            </div>
        </div>
        <!--Start slider-->
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/customer/homepage/Banner_1.jpg" class="d-block w-100" alt="..." height="500px">
                </div>
                <div class="carousel-item">
                    <img src="/img/customer/homepage/Banner_2.png" class="d-block w-100" alt="..." height="500px">
                </div>
                <div class="carousel-item">
                    <img src="/img/customer/homepage/Banner_3.png" class="d-block w-100" alt="..." height="500px">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!--End slider-->
        <div class="mt-2 d-flex" style="background-color: #e0e0e0; width: 90%; margin-left: 75px;">
            <marquee class="fst-italic" style="width: 70%; margin-right: 17%">Chào mừng bạn đến với OnePoly Store, hãy trải nghiệm tuyệt vời tại đây nhé!</marquee>
            <div class="phone-number" style="font-size: smaller">Hotline: 0374441985</div>
        </div>
        <div class="container-fluid">
            <!-- First Row -->
            <div class="row d-flex justify-content-center" style="gap: 1px; margin-top: 10px">
                <!-- First Product -->
                <div class="col-3">
                    <div class="shadow-sm bg-body-tertiary rounded position-relative product-container">
                        <div class="text-center">
                            <img src="/img/customer/homepage/banner_all_product.jpeg" alt="" style="width: 100%; height: 220px;" class="product-image">
                        </div>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x text-white fw-bold p-2"
                             style="font-size: 1.2rem; white-space: nowrap;">
                            TOÀN BỘ SẢN PHẨM
                        </div>
                        <div class="product-info">
                            Đây là tất cả các sản phẩm của cửa hàng chúng tôi
                        </div>
                    </div>
                </div>
                <!-- Second Product -->
                <div class="col-5">
                    <div class="shadow-sm bg-body-tertiary rounded position-relative product-container">
                        <div class="text-center">
                            <img src="/img/customer/homepage/adidas_boost.jpg" alt="" style="width: 100%; height: 220px;" class="product-image">
                        </div>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x text-white fw-bold p-2"
                             style="font-size: 1.2rem;">
                            ADIDAS
                        </div>
                        <div class="product-info">
                            Đôi giày Adidas Boost - sự thoải mái và đẳng cấp
                        </div>
                    </div>
                </div>
                <!-- Third Product -->
                <div class="col-3">
                    <div class="shadow-sm bg-body-tertiary rounded position-relative product-container">
                        <div class="text-center">
                            <img src="/img/customer/homepage/nike_pegarus.jpg" alt="" style="width: 100%; height: 220px;" class="product-image">
                        </div>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x text-white fw-bold p-2"
                             style="font-size: 1.2rem;">
                            NIKE
                        </div>
                        <div class="product-info">
                            Giày thể thao Nike Pegasus - sự lựa chọn hàng đầu cho chạy bộ
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second Row -->
            <div class="row d-flex justify-content-center" style="gap: 2px; margin-top: 10px">
                <!-- First Product -->
                <div class="col-5">
                    <div class="shadow-sm bg-body-tertiary rounded position-relative product-container">
                        <div class="text-center">
                            <img src="/img/customer/homepage/adidas_boost.jpg" alt="" style="width: 100%; height: 220px;" class="product-image">
                        </div>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x text-white fw-bold p-2"
                             style="font-size: 1.2rem;">
                            ADIDAS
                        </div>
                        <div class="product-info">
                            Đôi giày Adidas Boost - sự thoải mái và đẳng cấp
                        </div>
                    </div>
                </div>
                <!-- Second Product -->
                <div class="col-3">
                    <div class="shadow-sm bg-body-tertiary rounded position-relative product-container">
                        <div class="text-center">
                            <img src="/img/customer/homepage/banner_all_product.jpeg" alt="" style="width: 100%; height: 220px;" class="product-image">
                        </div>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x text-white fw-bold p-2"
                             style="font-size: 1.2rem; white-space: nowrap;">
                            TOÀN BỘ SẢN PHẨM
                        </div>
                        <div class="product-info">
                            Đây là tất cả các sản phẩm của cửa hàng chúng tôi
                        </div>
                    </div>
                </div>
                <!-- Third Product -->
                <div class="col-3">
                    <div class="shadow-sm bg-body-tertiary rounded position-relative product-container">
                        <div class="text-center">
                            <img src="/img/customer/homepage/nike_pegarus.jpg" alt="" style="width: 100%; height: 220px;" class="product-image">
                        </div>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x text-white fw-bold p-2"
                             style="font-size: 1.2rem;">
                            NIKE
                        </div>
                        <div class="product-info">
                            Giày thể thao Nike Pegasus - sự lựa chọn hàng đầu cho chạy bộ
                        </div>
                    </div>
                </div>
            </div>

            <!-- Third Row -->
            <div class="row d-flex justify-content-center" style="gap: 2px; margin-top: 10px">
                <!-- First Product -->
                <div class="col-6">
                    <div class="shadow-sm bg-body-tertiary rounded position-relative product-container">
                        <div class="text-center">
                            <img src="/img/customer/homepage/adidas_boost.jpg" alt="" style="width: 100%; height: 220px;" class="product-image">
                        </div>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x text-white fw-bold p-2"
                             style="font-size: 1.2rem;">
                            ADIDAS
                        </div>
                        <div class="product-info">
                            Đôi giày Adidas Boost - sự thoải mái và đẳng cấp
                        </div>
                    </div>
                </div>
                <!-- Second Product -->
                <div class="col-5">
                    <div class="shadow-sm bg-body-tertiary rounded position-relative product-container">
                        <div class="text-center">
                            <img src="/img/customer/homepage/ultra-boost_2.jpeg" alt="" style="width: 100%; height: 220px;" class="product-image">
                        </div>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x text-white fw-bold p-2"
                             style="font-size: 1.2rem; white-space: nowrap;">
                            TOÀN BỘ SẢN PHẨM
                        </div>
                        <div class="product-info">
                            Tất cả sản phẩm từ Ultra Boost, lựa chọn tuyệt vời
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
