<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Product Management Page">
    <meta name="keywords" content="ecommerce, product management, online store">
    <title>Quản lý màu sắc</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/attribute/attribute.css">
    <script src="/js/attribute/attribute.js"></script>
    <script src="/ajax/ajaxAttribute.js"></script>
</head>

<body>
<div layout:fragment="content">
    <article class="container-xxl mt-5">
        <h1>Quản lý màu sắc</h1>

        <form th:object="${colorAdd}" method="post" action="/attribute/color/add">
            <div class="search-section">
                <div class="search-bar">
                    <input id="codeColorInput" th:field="*{codeColor}" type="text" placeholder="Mã màu sắc" required/>
                    <input id="nameColorInput" th:field="*{nameColor}" type="text" placeholder="Tên màu sắc" required/>
                    <button type="submit" class="btn-add">Thêm màu sắc</button>
                </div>
            </div>
        </form>

        <table id="colorTable" class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Mã màu sắc</th>
                <th>Tên màu sắc</th>
                <th>Ngày tạo</th>
                <th>Ngày sửa</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="color, iterStat : ${colorList}" th:id="'row-' + ${iterStat.index}" th:data-id="${color.id}">
                <td>
                    <span th:text="${color.codeColor}" th:id="'code-text-' + ${iterStat.index}"></span>
                    <input type="text" th:value="${color.codeColor}" th:id="'code-input-' + ${iterStat.index}"
                           style="display:none;">
                </td>
                <td>
                    <span th:text="${color.nameColor}" th:id="'name-text-' + ${iterStat.index}"></span>
                    <input type="text" th:value="${color.nameColor}" th:id="'name-input-' + ${iterStat.index}"
                           style="display:none;">
                </td>
                <td>[[${color.createDate}]]</td>
                <td>[[${color.updateDate}]]</td>
                <td>
                    <i class="status-icon fas"
                       th:classappend="${color.status == 1 ? 'fa-toggle-on' : (color.status == 2 ? 'fa-toggle-off' : '')}"
                       th:data-status="${color.status}"
                       th:data-index="${iterStat.index}"
                       onclick="toggleStatus(this)"
                       title="Toggle Status"></i>
                </td>

                <td>
                    <a href="#" th:onclick="'editRow(' + ${iterStat.index} + ')'"
                       th:id="'edit-btn-' + ${iterStat.index}">
                        <i class="icon-edit fas fa-edit" title="Edit"></i>
                    </a>
                    <a href="#" th:onclick="'saveRow(' + ${iterStat.index} + ')'" style="display:none;"
                       th:id="'save-btn-' + ${iterStat.index}">
                        <i class="icon-save fas fa-save" title="Save"></i>
                    </a>
                    <a href="#" th:data-index="${iterStat.index}" onclick="deleteByID(this)">
                        <i class="icon-delete fas fa-trash" title="Delete"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <input type="hidden" id="colorMessage" th:value="${message}">
        <input type="hidden" id="colorCheck" th:value="${check}">
    </article>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
