<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Product Management Page">
    <meta name="keywords" content="ecommerce, product management, online store">
    <title>Quản lý màu sắc</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="styles.css"> <!-- Custom CSS file -->
    <link rel="stylesheet" href="/css/product/styleProduct.css" type="text/css">
</head>

<body>


    <div layout:fragment="content">
        <article class="container-xxl bd-gutter mt-5 my-md-4 bd-layout">
            <h1 class="center">Quản lý màu sắc</h1>

            <form th:object="${colorAdd}" method="post" action="/attribute/color/add">
                <div class="search-section">
                    <div class="search-bar">
                        <input th:field="*{codeColor}" type="text" placeholder="Mã màu sắc" required/>
                        <input th:field="*{nameColor}" type="text" placeholder="Tên màu sắc" required/>
                        <button type="submit" class="btn-add">Thêm màu sắc</button>
                    </div>
                </div>
            </form>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Mã màu sắc</th>
                    <th>Tên màu sắc</th>
                    <th>Ngày tạo</th>
                    <th>Ngày sửa</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="color : ${colorList}">
                    <td>[[${color.codeColor}]]</td>
                    <td>[[${color.nameColor}]]</td>
                    <td>[[${color.createDate}]]</td>
                    <td>[[${color.updateDate}]]</td>
                    <td>[[${color.status}]]</td>
                    <td>
                        <a href="gfgfd"><i class="icon-edit fas fa-edit" title="Edit"></i></a>
                        <a href="hgf"><i class="icon-delete fas fa-trash" title="Delete"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

