<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}" xmlns:form="http://www.thymeleaf.org">

<head>
    <title>Voucher</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
<div layout:fragment="content">
    <section>
        <div class="container-xxl bd-gutter mt-5 my-md-4 bd-layout">
            <div class="text-center">
                <p class="fs-4 mt-2">QUẢN LÝ PHIẾU GIẢM GIÁ</p>
            </div>
            <div th:if="${mes != null}" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded me-2" alt="...">
                    <strong class="me-auto">Thông báo</strong>
                    <small>vài giây trước</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    <span th:text="${mes}"></span>
                </div>
            </div>

            <div class="row p-2">
                <!-- Form Thêm Mới Phiếu Giảm Giá -->
                <div class="col-4">
                    <div class="card mb-5">
                        <div class="card-header text-white" style="background-color: #28a745">
                            Thêm mới phiếu giảm giá
                        </div>
                        <div class="card-body">
                            <form th:action="@{/voucher/create}" th:object="${voucher}" method="post">
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label for="codeVoucher">Mã giảm giá</label>
                                        <input type="text" id="codeVoucher" th:field="*{codeVoucher}"
                                               class="form-control"/>
                                        <div class="text-danger" th:errors="*{codeVoucher}"></div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label for="name">Tên giảm giá</label>
                                        <input type="text" id="name" th:field="*{nameVoucher}" class="form-control"/>
                                        <div class="text-danger" th:errors="*{nameVoucher}"></div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label for="discountType">Loại giảm giá</label>
                                        <select id="discountType" th:field="*{discountType}" class="form-select">
                                            <option value="0">Chọn loại giảm giá</option>
                                            <option value="1">%</option>
                                            <option value="2">Tiền mặt</option>
                                        </select>
                                        <div class="text-danger" th:errors="*{discountType}"></div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label for="value">Giá trị</label>
                                        <div class="input-group">
                                            <input type="number" id="value" th:field="*{priceReduced}"
                                                   class="form-control"
                                                   min="0"/>
                                            <span class="input-group-text" style="display: none"
                                                  id="discountTextDola">%</span>
                                            <span class="input-group-text" style="display: none"
                                                  id="discountTextCash">₫</span>
                                        </div>
                                        <div class="text-danger" th:errors="*{priceReduced}"></div>
                                    </div>


                                    <div class="col-md-12 mb-3">
                                        <label for="applyValue">Giá trị áp dụng</label>
                                        <div class="input-group">
                                            <input type="number" id="applyValue" th:field="*{pricesApply}"
                                                   class="form-control" min="0"/>
                                            <span class="input-group-text">₫</span>
                                        </div>
                                        <div class="text-danger" th:errors="*{pricesApply}"></div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label for="maxDiscount">Giảm tối đa</label>
                                        <div class="input-group">
                                            <input type="number" id="maxDiscount" th:field="*{pricesMax}"
                                                   class="form-control" min="0"/>
                                            <span class="input-group-text">₫</span>
                                        </div>
                                        <div class="text-danger" th:errors="*{pricesMax}"></div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label for="note">Ghi chú</label>
                                        <textarea id="note" th:field="*{describe}" class="form-control mt-1"></textarea>
                                        <div class="text-danger" th:errors="*{describe}"></div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label for="startDate">Ngày bắt đầu</label>
                                        <input type="date" id="startDate" th:field="*{startDate}"
                                               class="form-control mt-1"/>
                                        <div class="text-danger" th:errors="*{startDate}"></div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label for="endDate">Ngày kết thúc</label>
                                        <input type="date" id="endDate" th:field="*{endDate}"
                                               class="form-control mt-1"/>
                                        <div class="text-danger" th:errors="*{endDate}"></div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label for="quantity">Số lượng</label>
                                        <input type="number" id="quantity" th:field="*{quantity}"
                                               class="form-control mt-1"/>
                                        <div class="text-danger" th:errors="*{quantity}"></div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label>Trạng thái</label>
                                        <div class="d-flex">
                                            <div class="form-check">
                                                <input class="form-check-input" value="1" type="radio"
                                                       th:field="*{status}"
                                                       id="flexRadioDefault1" checked="checked">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Hoạt động
                                                </label>
                                            </div>
                                            <div class="form-check" style="margin-left: 50px">
                                                <input class="form-check-input" value="2" type="radio"
                                                       th:field="*{status}"
                                                       id="flexRadioDefault2">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Không hoạt động
                                                </label>
                                            </div>
                                        </div>
                                        <div class="text-danger" th:errors="*{status}"></div>
                                    </div>
                                </div>
                                <button class="btn btn-success mt-3 w-100"
                                        onclick="return confirm('Bạn có muốn thêm mới phiếu giảm giá này không?')">
                                    <i class="bi bi-plus-lg"></i> Thêm
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-8">
                    <div class="card">
                        <div class="card-header">
                            <div class="text-center">Tìm kiếm</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <hr>
                                <div class="col-12 mb-3">
                                    <div class="form-group">
                                        <label for="priceFilter" id="priceLabel" class="search-label" data-target="#priceFilter">Khoảng giá</label>
                                        <div id="priceFilter" class="filter-options search-input" style="display:none; margin-top: 30px">
                                            <div class="row d-flex align-items-center mb-2">
                                                <div class="col d-flex justify-content-start">
                                                    <input type="text" id="minAmount" readonly style="border:0;" placeholder="Min">
                                                </div>
                                                <div class="col d-flex justify-content-end">
                                                    <input type="text" id="maxAmount" readonly style="border:0;" placeholder="Max">
                                                </div>
                                            </div>
                                            <div style="margin-top: 20px" id="slider-range"></div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-12 mb-3" >
                                    <label for="dateRange" class="search-label" data-target="#dateRangeInputs">Khoảng thời gian</label>
                                    <div id="dateRangeInputs" class="row search-input" style="display:none;">
                                        <div class="col-md-6 mb-3">
                                            <input type="date" id="searchStartDateInput" class="form-control mt-1" value="" placeholder="Ngày bắt đầu">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <input type="date" id="searchEndDateInput" class="form-control mt-1" value="" placeholder="Ngày kết thúc">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-md-12 mb-3">
                                    <label for="searchDiscountType" class="search-label" data-target="#searchDiscountTypeInput">Loại giảm giá</label>
                                    <select id="searchDiscountTypeInput" class="form-select mt-1 search-input" style="display:none;">
                                        <option value="0">%</option>
                                        <option value="1">Tiền mặt</option>
                                    </select>
                                </div>
                                <hr>
                                <div class="col-md-12">
                                    <form action="/voucher/search" method="get">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="key" placeholder="Tìm theo tên, mã giảm giá">
                                            <button class="btn btn-light text-dark ms-1">
                                                <i class="bi bi-search"></i> Search
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-3">
                        <div class="card-body">
                            <!-- Nút thay đổi bảng -->
                            <div class="mb-3">
                                <button id="button1" class="btn btn-primary" style=" width: 200px"
                                        onclick="changeTable(1)">
                                    Hoạt Động
                                </button>
                                <button id="button2" class="btn btn-secondary" style="width: 200px"
                                        onclick="changeTable(2)">Ngừng Hoạt Động
                                </button>
                            </div>

                            <!-- Bảng 1 -->
                            <div id="table-voucher">
                                <table class="table table-striped table-hover"
                                       style="margin-top: 30px;margin-bottom: 70px">
                                    <thead class="bg-primary text-white">
                                    <tr>
                                        <th>Mã</th>
                                        <th>Tên</th>
                                        <th>Giảm giá</th>
                                        <th>Số lượng</th>
                                        <th>Ngày bắt đầu</th>
                                        <th>Ngày kết thúc</th>
                                        <th colspan="2">Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="voucher : ${pageVoucher}">
                                        <td th:text="${voucher.codeVoucher}">Mã giảm giá</td>
                                        <td th:text="${voucher.nameVoucher}">Tên giảm giá</td>
                                        <td th:text="${voucher.priceReduced}">Giá trị giảm</td>
                                        <td th:text="${voucher.quantity}">Số lượng</td>
                                        <td th:text="${voucher.startDate}">Ngày bắt đầu</td>
                                        <td th:text="${voucher.endDate}">Ngày kết thúc</td>
                                        <td>
                                            <a th:href="@{/voucher/edit/{id}(id=${voucher.id})}"
                                               class="btn btn-warning btn-sm">
                                                <i class="bi bi-pencil-square"></i> Sửa
                                            </a>
                                            <a th:href="@{/voucher/delete/{id}(id=${voucher.id})}"
                                               onclick="return confirm('Bạn có muốn xóa phiếu giảm giá này không?')"
                                               class="btn btn-danger btn-sm">
                                                <i class="bi bi-trash"></i> Xóa
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- Pagination for Table 1 -->
                                <div class="text-center m-3">
                                    <div class="d-flex justify-content-center">
                                        <a th:href="@{/voucher/list?pageNumber=0}"
                                           class="btn btn-secondary mx-1">First</a>
                                        <a th:href="@{/voucher/list(pageNumber=${pageVoucher.first ? 0 : pageVoucher.number - 1})}"
                                           class="btn btn-secondary mx-1">Previous</a>
                                        <div th:if="${pageVoucher.totalPages > 0}" class="d-flex">
                                            <div th:each="pageNumber : ${#numbers.sequence(0, pageVoucher.totalPages - 1)}"
                                                 class="mx-1">
                                                <a th:href="@{/voucher/list(pageNumber=${pageNumber})}"
                                                   class="btn btn-primary"
                                                   th:text="${pageNumber + 1}"></a>
                                            </div>
                                        </div>
                                        <a th:href="@{/voucher/list(pageNumber=${pageVoucher.last ? pageVoucher.totalPages - 1 : pageVoucher.number + 1})}"
                                           class="btn btn-secondary mx-1">Next</a>
                                        <a th:href="@{/voucher/list(pageNumber=${pageVoucher.totalPages - 1})}"
                                           class="btn btn-secondary mx-1">Last</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Bảng 2 -->
                            <div id="table-voucher-delete" style="display: none;">
                                <table class="table table-striped table-hover"
                                       style="margin-top: 30px;margin-bottom: 70px;">
                                    <thead class="bg-secondary text-white">
                                    <tr>
                                        <th>Mã</th>
                                        <th>Tên</th>
                                        <th>Giảm giá</th>
                                        <th>Số lượng</th>
                                        <th>Ngày bắt đầu</th>
                                        <th>Ngày kết thúc</th>
                                        <th>Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="voucherdlt : ${pageVoucherDelete}">
                                        <td th:text="${voucherdlt.codeVoucher}">Mã giảm giá</td>
                                        <td th:text="${voucherdlt.nameVoucher}">Tên giảm giá</td>
                                        <td th:text="${voucherdlt.priceReduced}">Giá trị giảm</td>
                                        <td th:text="${voucherdlt.quantity}">Số lượng</td>
                                        <td th:text="${voucherdlt.startDate}">Ngày bắt đầu</td>
                                        <td th:text="${voucherdlt.endDate}">Ngày kết thúc</td>
                                        <td>
                                            <a th:href="@{/voucher/restore/{id}(id=${voucherdlt.id})}"
                                               onclick="return confirm('Bạn có muốn khôi phục phiếu giảm giá này không?')"
                                               class="btn btn-success btn-sm">
                                                <i class="bi bi-trash"></i> Khôi phục
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="text-center m-3">
                                    <div class="d-flex justify-content-center">
                                        <a th:href="@{/voucher/list?pageNumberDelete=0}" class="btn btn-secondary mx-1">First</a>
                                        <a th:href="@{/voucher/list?pageNumberDelete=${pageVoucherDelete.first ? 0 : pageVoucherDelete.number - 1}}"
                                           class="btn btn-secondary mx-1">Previous</a>

                                        <div th:if="${pageVoucherDelete.totalPages > 0}" class="d-flex">
                                            <div th:each="pageNumber : ${#numbers.sequence(0, pageVoucherDelete.totalPages - 1)}"
                                                 class="mx-1">
                                                <a th:href="@{/voucher/list?pageNumberDelete=${pageNumber}}"
                                                   class="btn btn-primary" th:text="${pageNumber + 1}"></a>
                                            </div>
                                        </div>

                                        <a th:href="@{/voucher/list?pageNumberDelete=${pageVoucherDelete.last ? pageVoucherDelete.totalPages - 1 : pageVoucherDelete.number + 1}}"
                                           class="btn btn-secondary mx-1">Next</a>
                                        <a th:href="@{/voucher/list?pageNumberDelete=${pageVoucherDelete.totalPages - 1}}"
                                           class="btn btn-secondary mx-1">Last</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/voucher/home.js}"></script>
    <script th:src="@{/js/voucher/search-date.js}"></script>
</div>
</body>
</html>
