
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}" xmlns:form="http://www.thymeleaf.org">

<head>
    <title>Voucher</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-xxl bd-gutter mt-5 my-md-4 bd-layout">
        <div class="text-center">
            <p class="fs-4 mt-2">QUẢN LÝ PHIẾU GIẢM GIÁ</p>
        </div>
        <div th:if="${mes != null}" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Thông báo</strong>
                <small>vài giây trước</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <span th:text="${mes}"></span>
            </div>
        </div>

        <div class="row p-2">
            <div class="col-4" style="border: 1px solid #bbb8b8">
                <div class="mb-3 text-center p-3 text-white" style="background-color: #28a745">
                    Thêm mới phiếu giảm giá
                </div>
                <hr>
                <form th:action="@{/voucher/create}" th:object="${voucher}" method="post">
                    <div class="row p-3">
                        <div class="col-12 mb-3">
                            <label class="label-control" for="codeVoucher">Mã giảm giá</label>
                            <input type="text" id="codeVoucher" th:field="*{codeVoucher}" class="form-control mt-1"/>
                            <div class="text-danger" th:errors="*{codeVoucher}"></div>
                        </div>

                        <div class="col-6 mb-3">
                            <label class="label-control" for="name">Tên giảm giá</label>
                            <input type="text" id="name" th:field="*{nameVoucher}" class="form-control mt-1"/>
                            <div class="text-danger" th:errors="*{nameVoucher}"></div>

                        </div>

                        <div class="col-6 mb-3">
                            <label class="label-control" for="discountType">Loại giảm giá</label>
                            <select id="discountType" th:field="*{discountType}" class="form-select mt-1">
                                <option value="1">%</option>
                                <option value="2">Tiền mặt</option>
                            </select>
                            <div class="text-danger" th:errors="*{discountType}"></div>
                        </div>

                        <div class="col-6 mb-3">
                            <label class="label-control" for="value">Giá trị</label>
                            <input type="number" id="value" th:field="*{priceReduced}" class="form-control mt-1" min="0"/>
                            <div class="text-danger" th:errors="*{priceReduced}"></div>
                        </div>

                        <div class="col-6 mb-3">
                            <label class="label-control" for="applyValue">Giá trị áp dụng</label>
                            <input type="number" id="applyValue" th:field="*{pricesApply}" class="form-control mt-1" min="0"/>
                            <div class="text-danger" th:errors="*{pricesApply}"></div>
                        </div>

                        <div class="col-6 mb-3">
                            <label class="label-control" for="maxDiscount">Giảm tối đa</label>
                            <input type="number" id="maxDiscount" th:field="*{pricesMax}" class="form-control mt-1" min="0"/>
                            <div class="text-danger" th:errors="*{pricesMax}"></div>
                        </div>

                        <div class="col-6 mb-3">
                            <label class="label-control" for="note">Ghi chú</label>
                            <textarea id="note" th:field="*{describe}" class="form-control mt-1"></textarea>
                            <div class="text-danger" th:errors="*{describe}"></div>
                        </div>

                        <div class="col-6 mb-3">
                            <label class="label-control" for="startDate">Ngày bắt đầu</label>
                            <input type="date" id="startDate" th:field="*{startDate}" class="form-control mt-1"/>
                            <div class="text-danger" th:errors="*{startDate}"></div>
                        </div>

                        <div class="col-6 mb-3">
                            <label class="label-control" for="endDate">Ngày kết thúc</label>
                            <input type="date" id="endDate" th:field="*{endDate}" class="form-control mt-1"/>
                            <div class="text-danger" th:errors="*{endDate}"></div>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="label-control" for="quantity">Số lượng</label>
                            <input type="number" id="quantity" th:field="*{quantity}" class="form-control mt-1"/>
                            <div class="text-danger" th:errors="*{quantity}"></div>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="label-control" for="quantity"></label>Trạng thái
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Hoạt động
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Không hoạt động
                                </label>
                            </div>
                            <div class="text-danger" th:errors="*{quantity}"></div>
                        </div>
                        <button class="btn btn-success mt-3">Thêm</button>
                    </div>
                </form>
            </div>
            <div class="col-8">
                <div class="row" style="border: 1px solid #a6a1a1; height: auto">
                    <div class="text-center">Tìm kiếm</div>
                    <div class="col-12 mb-3 p-1">
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tìm kiếm...">
                                <button class="btn btn-light text-dark ms-1">
                                    <i class="bi bi-search"></i> Search
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 mb-3 p-1">
                        <label class="label-control" for="searchStartDate">Ngày bắt đầu</label>
                        <input type="date" id="searchStartDate" name="searchStartDate" class="form-control mt-1">
                    </div>
                    <div class="col-6 mb-3 p-1">
                        <label class="label-control" for="searchEndDate">Ngày kết thúc</label>
                        <input type="date" id="searchEndDate" name="searchEndDate" class="form-control mt-1">
                    </div>
                    <div class="col-12 mb-3">
                        <label class="label-control" for="searchDiscountType">Loại giảm giá</label>
                        <select id="searchDiscountType" name="searchDiscountType" class="form-select mt-1" required>
                            <option value="0">%</option>
                            <option value="1">Tiền mặt</option>
                        </select>
                    </div>
                    <hr>
                    <div class="col-12">
                        <table class="table table-hover">
                            <thead class="bg-primary text-white">
                            <tr>
                                <th>Mã</th>
                                <th>Tên</th>
                                <th>Loại</th>
                                <th>Giá trị</th>
                                <th>Giá trị áp dụng</th>
                                <th>Giảm tối đa</th>
                                <th>Bắt đầu</th>
                                <th>Kết thúc</th>
                                <th>Mô tả</th>
                                <th colspan="2">Thao tác</th>
                            </tr>
                            </thead>
                            <tbody th:each="voucher : ${pageVoucher.content}">
                            <tr>
                                <td th:text="${voucher.codeVoucher}">Mã</td>
                                <td th:text="${voucher.nameVoucher}">Tên</td>
                                <td th:text="${voucher.discountType == 0 ? '%' : 'Tiền mặt'}">Loại</td>
                                <td th:text="${voucher.priceReduced}">Giá trị</td>
                                <td th:text="${voucher.pricesApply}">Giá trị áp dụng</td>
                                <td th:text="${voucher.pricesMax}">Giảm tối đa</td>
                                <td th:text="${voucher.startDate}">Bắt đầu</td>
                                <td th:text="${voucher.endDate}">Kết thúc</td>
                                <td th:text="${voucher.describe}">Mô tả</td>
                                <td>
                                    <a th:href="@{/edit/{id}(id=${voucher.id})}" class="btn btn-primary">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/voucher/delete/{id}(id=${voucher.id})}" class="btn btn-danger"
                                       onclick="return confirm('Bạn có chắc chắn muốn xóa không?');">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="text-center m-3">
                            <div class="d-flex justify-content-center">
                                <a href="/voucher/list?page=0" class="btn btn-secondary mx-1">First</a>

                                <a th:href="@{/voucher/list(page=${pageVoucher.first ? 0 : pageVoucher.number - 1})}"
                                   class="btn btn-secondary mx-1">Previous</a>

                                <div th:if="${pageVoucher.totalPages > 0}" class="d-flex">
                                    <div th:each="pageNumber : ${#numbers.sequence(0, pageVoucher.totalPages - 1)}"
                                         class="mx-1">
                                        <a th:href="@{/voucher/list(page=${pageNumber})}" class="btn btn-primary"
                                           th:text="${pageNumber + 1}"></a>
                                    </div>
                                </div>

                                <a th:href="@{/voucher/list(page=${pageVoucher.last ? pageVoucher.totalPages - 1 : pageVoucher.number + 1})}"
                                   class="btn btn-secondary mx-1">Next</a>

                                <a th:href="@{/voucher/list(page=${pageVoucher.totalPages - 1})}"
                                   class="btn btn-secondary mx-1">Last</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>