
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}" xmlns:form="http://www.thymeleaf.org">

<head>
    <title>Voucher</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-xxl bd-gutter mt-5 my-md-4 bd-layout">
                <div class="mb-3 text-center p-3 text-white" style="background-color: #c5a60a" th:text="${title}">
                </div>
                <hr>
                <form th:action="@{/voucher/update}" th:object="${voucher}" method="post" style="border: 1px solid #696666">
                    <div class="row p-3">
                        <div class="col-12 mb-3">
                            <label class="label-control" for="codeVoucher">Mã giảm giá</label>
                            <input type="text" id="codeVoucher" th:field="*{codeVoucher}" class="form-control mt-1"/>
                            <div class="text-danger" th:errors="*{codeVoucher}"></div>
                        </div>

                        <div class="col-6 mb-3">
                            <label class="label-control" for="name">Tên giảm giá</label>
                            <input type="text" id="name" th:field="*{nameVoucher}" class="form-control mt-1"/>
                            <div class="text-danger" th:errors="*{nameVoucher}"></div>

                        </div>

                        <div class="col-6 mb-3">
                            <label class="label-control" for="discountType">Loại giảm giá</label>
                            <select id="discountType" th:field="*{discountType}" class="form-select mt-1">
                                <option value="1">%</option>
                                <option value="2">Tiền mặt</option>
                            </select>
                            <div class="text-danger" th:errors="*{discountType}"></div>
                        </div>

                        <div class="col-6 mb-3">
                            <label class="label-control" for="value">Giá trị</label>
                            <input type="number" id="value" th:field="*{priceReduced}" class="form-control mt-1" min="0"/>
                            <div class="text-danger" th:errors="*{priceReduced}"></div>
                        </div>

                        <div class="col-6 mb-3">
                            <label class="label-control" for="applyValue">Giá trị áp dụng</label>
                            <input type="number" id="applyValue" th:field="*{pricesApply}" class="form-control mt-1" min="0"/>
                            <div class="text-danger" th:errors="*{pricesApply}"></div>
                        </div>

                        <div class="col-6 mb-3">
                            <label class="label-control" for="maxDiscount">Giảm tối đa</label>
                            <input type="number" id="maxDiscount" th:field="*{pricesMax}" class="form-control mt-1" min="0"/>
                            <div class="text-danger" th:errors="*{pricesMax}"></div>
                        </div>

                        <div class="col-6 mb-3">
                            <label class="label-control" for="note">Ghi chú</label>
                            <textarea id="note" th:field="*{describe}" class="form-control mt-1"></textarea>
                            <div class="text-danger" th:errors="*{describe}"></div>
                        </div>

                        <div class="col-6 mb-3">
                            <label class="label-control" for="startDate">Ngày bắt đầu</label>
                            <input type="date" id="startDate" th:field="*{startDate}" class="form-control mt-1"/>
                            <div class="text-danger" th:errors="*{startDate}"></div>
                        </div>

                        <div class="col-6 mb-3">
                            <label class="label-control" for="endDate">Ngày kết thúc</label>
                            <input type="date" id="endDate" th:field="*{endDate}" class="form-control mt-1"/>
                            <div class="text-danger" th:errors="*{endDate}"></div>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="label-control" for="quantity">Số lượng</label>
                            <input type="number" id="quantity" th:field="*{quantity}" class="form-control mt-1"/>
                            <div class="text-danger" th:errors="*{quantity}"></div>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="label-control" for="quantity"></label>Trạng thái
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Hoạt động
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Không hoạt động
                                </label>
                            </div>
                            <div class="text-danger" th:errors="*{status}"></div>
                        </div>
                        <button class="btn btn-success mt-3">Update</button>
                    </div>
                </form>
        </div>
</div>
</body>
</html>