.row {
    max-width: 97%; /* Chiều rộng tối đa cho toàn bộ trang */
    margin: 0 auto; /* Căn giữa phần body */
}
.fixed-container {
    width: 100%; /* Hoặc một giá trị cố định ví dụ 800px */
    height: 720px; /* Chiều cao cố định, bạn có thể điều chỉnh theo nhu cầu */ /* Thêm thanh cuộn dọc nếu nội dung vượt quá chiều cao */ /* Màu nền cho thẻ cố định */
    padding: 20px; /* Khoảng cách bên trong */
    border-radius: 8px; /* Bo góc cho thẻ */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Đổ bóng cho thẻ */
}
.custom-heading {
    margin-top: 40px;
    font-weight: bold;/* Điều chỉnh khoảng cách từ trên xuống */
}

.rectangle {
    height: 70px;
    border: 1px solid black;
    display: flex;
    flex-direction: column; /* Sắp xếp các thành phần theo cột */
    justify-content: flex-start; /* Bắt đầu từ phía trên cùng */
    align-items: flex-start; /* Căn bên trái */
    padding: 10px; /* Khoảng cách bên trong */
    margin-top: 20px;
    border-radius: 15px;
    font-weight: bold;
}


.rectangle h6 {
    font-weight: bold;
}
/* CSS cho nội dung truyền từ BE */
.data-from-be {
    margin-top: auto;
    font-size: 14px;
    color: #555;
}

/* CSS cho thẻ bộ lọc */
/* CSS cho phần form bộ lọc không dùng Bootstrap */
.filter-section {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button-group {
    display: flex; /* Sắp xếp các nút theo hàng ngang */
    gap: 10px; /* Khoảng cách giữa các nút */
}

.custom-btn {
    padding: 4px 10px; /* Kích thước nút */
    background-color: white; /* Màu nền nút */
    border: 1px solid rgb(0, 123, 255); /* Viền nút */
    border-radius: 5px; /* Bo góc cho nút */
    font-size: 14px; /* Kích thước chữ */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: rgb(0, 123, 255);
    outline: none; /* Bỏ viền khi nhấn */
    box-shadow: none;
}

.custom-btn:focus {
    outline: none; /* Bỏ outline khi nhấn */
    box-shadow: none; /* Bỏ hiệu ứng viền cam */
}

.custom-btn:hover {
    background-color: rgb(0, 123, 255); /* Màu nền khi hover */
    color: white; /* Màu chữ khi hover */
}

.custom-btn.active {
    background-color: rgb(0, 123, 255); /* Màu nền khi nút active */
    color: white; /* Màu chữ khi nút active */
}

