
.modal-backdrop {
    z-index: 1040;
}

.modal {
    z-index: 1050;
}

.navbar-nav .nav-link {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #007bff !important;
    text-decoration: underline;
    text-decoration-color: #007bff;
}

.navbar-nav .navbar-brand:hover {
    color: #007bff !important;
}





