.cart-actions__checkout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    background-color: #efecec; /* Nền nhạt */
    border-top: 1px solid #dee2e6; /* Viền trên */
    width: 100%;
    height: 180px;
    margin-left: auto;
}

.cart-actions__total {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.cart-actions__total .title {
    color: #333030;
}

.cart-actions__total .js-total-price {
    color: #333030;
}

.cart-actions__btn {
    display: flex;
    gap: 15px
}

.btn-continue, .btn-checkout {
    padding: 10px 20px;
    border: none;
    font-size: 1em;
    height: 60px;
    width: 230px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-continue {
    background-color: #ffffff; /* Màu xanh dương */
    color: #413f3f; /* Màu chữ trắng */
    text-decoration: none;
}

.btn-continue:hover {
    background-color: #efefef; /* Màu xanh đậm khi hover */
}

.btn-checkout {
    background-color: #092e80; /* Màu đỏ */
    color: #fff;
}

.btn-checkout:hover {
    background-color: #3e3ed4; /* Màu khi hover, thay đổi thành màu khác nếu cần */
}

.u-btn--primary {
    text-transform: uppercase;
}
/*Voucher cart*/

.cart-voucher {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    height: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.voucher-label {
    font-size: 1rem;
    color: #333;
}

.cart-voucher input.form-control {
    border-radius: 5px;
}

.cart-voucher button.btn {
    padding: 8px 16px;
}