.product-container {
    position: relative;
    overflow: hidden;
}

.product-info {
    position: absolute;
    bottom: 40%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-container:hover .product-info {
    opacity: 1;
}

.product-image {
    transition: transform 0.3s ease;
}

.product-container:hover .product-image {
    transform: scale(1.1);
}


