<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="listProductBuy">
    <div id="noDataContainer" style="display:none; text-align:center;">
        <!-- Ảnh sẽ được hiển thị ở đây nếu không có dữ liệu -->
    </div>

    <table id="table-product-buy" class="table mt-2" style="display:none;">
        <thead>
        <tr class="text-center">
            <th scope="col" style="width: 1%">STT</th>
            <th scope="col" style="width: 15%">Ảnh</th>
            <th scope="col" style="width: 20%">Sản phẩm</th>
            <th scope="col" style="width: 8%">Giá</th>
            <th scope="col" style="width: 14%">Số lượng</th>
            <th scope="col" style="width: 5%">Tổng tiền</th>
            <th scope="col" style="width: 5%">Hành động</th>
        </tr>
        </thead>
        <tbody id="tableBillDetail">
        <!-- Dữ liệu sẽ được tải ở đây -->
        </tbody>
    </table>

    <div class="pagination-section">
        <!-- Phân trang 2 -->
        <div class="pagination-custom d-flex justify-content-center">
            <ul id="billDetailPageMax" class="pagination"></ul>
        </div>
    </div>
</div>
</body>
</html>