<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home/home_manege}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/customer/create.css" type="text/css">

    <title>Them khach hang</title>
</head>

<body>

<main class="container">
    <div layout:fragment="content">
        <article class="container-xxl bd-gutter mt-4 my-md-3 bd-layout">
            <h2>Thêm khách hàng</h2>
            <!-- <form action="/product/save" method="post" enctype="multipart/form-data"> -->
            <div class="form-nab">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <p>Ảnh khách hàng (3x4)</p>
                            <div class="upload-container">
                                <label for="file-upload" class="custom-file-upload">
                                    <img id="image-preview" src="path_to_default_image.png" alt="Ảnh khách hàng" />
                                </label>
                                <input id="file-upload" type="file" accept="image/*" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="customerName">Tên khách hàng</label>
                                    <input type="text" id="customerName" name="customerName" class="form-control"
                                           placeholder="Enter customer name" required>
                                </div>
                                <div class="form-group">
                                    <label for="gender">Giới tính</label>
                                    <div class="radio-group">
                                        <div class="radio-item">
                                            <input type="radio" name="gender" value="0" checked />Nam
                                        </div>
                                        <div class="radio-item">
                                            <input type="radio" name="gender" value="1" />Nữ
                                        </div>
                                        <div class="radio-item">
                                            <input type="radio" name="gender" value="2" />Khác
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="status">Trạng thái</label>
                                    <div class="radio-group">
                                        <div class="radio-item">
                                            <input type="radio" name="status" value="0" checked />Hoạt động
                                        </div>
                                        <div class="radio-item">
                                            <input type="radio" name="status" value="1" />Ngừng hoạt động
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SDT/Ngày sinh/Email -->
            <div class="form-row">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="phoneNumber">Số điện thoại</label>
                            <input type="number" id="phoneNumber" name="phoneNumber" class="form-control"
                                   placeholder="Enter customer phoneNumber" required>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="dateOfBirth">Ngày sinh</label>
                            <input type="date" id="dateOfBirth" name="dateOfBirth" class="form-control"
                                   placeholder="Enter customer dateOfBirth" required>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" class="form-control"
                                   placeholder="Enter customer email" required>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Địa chỉ -->
            <div class="form-row">
                <div class="row">
                    <div class="col-4">
                        <label for="city">Tỉnh/Thành phố</label>
                        <select>
                            <option value="">Small select</option>
                            <option value="">Small select</option>
                            <option value="">Small select</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="district">Quận/Huyện</label>
                        <select>
                            <option value="">Small select</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="commune">Xã/Phường/Thị trấn</label>
                        <select>
                            <option value="">Small select</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Địa chỉ cụ thể -->
            <div class="form-row">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="specificAddress">Địa chi chi tiết</label>
                            <input type="text" id="specificAddress" name="specificAddress" class="form-control"
                                   placeholder="Enter customer specificAddress" required>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Them khach hang</button>
            <!-- </form> -->
        </article>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>