<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="/css/Security/login.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>
<section class="home">
    <div class="form_container">
        <div class="form login_form">
            <!-- Sử dụng th:action để chỉ định URL cho form -->
            <form th:action="@{/login}" method="post">
                <h2>Đăng Nhập</h2>

                <div class="input_box">
                    <i class="uil uil-envelope-alt email"></i>
                    <input type="text" name="username" placeholder="Tài khoản" required />
                </div>
                <div class="input_box">
                    <i class="uil uil-lock password"></i>
                    <input type="password" name="password" placeholder="Mật khẩu" required />
                    <i class="uil uil-eye-slash pw_hide"></i>
                </div>

                <div class="option_field">
                        <span class="checkbox">
                            <input type="checkbox" id="check" />
                            <label for="check">Ghi nhớ tôi</label>
                        </span>
                    <a href="#" class="forgot_pw">Quên mật khẩu?</a>
                </div>

                <button class="button">Đăng Nhập</button>
            </form>
        </div>
    </div>
</section>
<script src="/js/Security/login.js"></script>
</body>
</html>
